<div style="font-size:11px; line-height:13px; font-family:Arial; width:700px; margin-left:auto; margin-right:auto;">
	<div style="padding-top:20px; color:#227799; font-size:16px; font-weight:bold;">
		EasyBuild Booking has been made!
	</div>
	<div style="padding-bottom:15px; margin:10px 15px 6px 0px; font-family:Arial; font-size:11px;">
		This is the confirmation that an EasyBuild order has been made.
	</div>
</div>

<table style="border:solid 2px #227799; font-size:11px; line-height:13px; font-family:Arial; width:700px; margin-left:auto; margin-right:auto;">
	<tr>
		<td style="float:left; text-align:left; width:510px; vertical-align: top">
			<div style="background-color:#FFFFFF; color:#227799; font-size:12pt; font-weight:bold; padding-bottom:12px;">Job Details</div>
			<div style="width:100px; float:left; margin-bottom:3px;">Ad Link(s):</div>
			<div style="width:510px;  float:left; padding-left:15px; padding-top:15px">
				<div style="color:#227799; margin-bottom:3px; font-weight:bold;"><div style="display:inline-block;">
					<b style="color:black;">Billboard</b><br/>
					View<br/>
					<a href="http://adserver.adportalcloud.com/kmgroup/eb2/">http://adserver.adportalcloud.com/kmgroup/eb2/</a><br/>
					<a href="http://adserver.adportalcloud.com/kmgroup/eb2/">http://adserver.adportalcloud.com/kmgroup/eb2/</a><br/>
					<br/>
					Ad Tag<br/>
					&lt;iframe src="http://adserver.adportalcloud.com/kmgroup/eb2/jobName-12345/HTML5-0001-BB.html?trackurl=_ADCLICK_&ord=_ADTIME_" width="970.0" height="250.0" scrolling="no" frameborder="0"&gt;&lt;/iframe&gt;<br/>
				</div>
				</div>
			</div>
			<div style="width:510px;  float:left; padding-left:15px; padding-top:15px">
				<div style="color:#227799; margin-bottom:3px; font-weight:bold;"><div style="display:inline-block;">
					<b style="color:black;">Billboard</b><br/>
					View<br/>
					<a href="http://adserver.adportalcloud.com/kmgroup/eb2/">http://adserver.adportalcloud.com/kmgroup/eb2/</a><br/>
					<a href="http://adserver.adportalcloud.com/kmgroup/eb2/">http://adserver.adportalcloud.com/kmgroup/eb2/</a><br/>
					<br/>
					Ad Tag<br/>
					&lt;iframe src="http://adserver.adportalcloud.com/kmgroup/eb2/jobName-12345/HTML5-0001-BB.html?trackurl=_ADCLICK_&ord=_ADTIME_" width="970.0" height="250.0" scrolling="no" frameborder="0"&gt;&lt;/iframe&gt;<br/>
				</div>
				</div>
			</div>
			<div style="width:510px;  float:left; padding-left:15px; padding-top:15px">
				<div style="color:#227799; margin-bottom:3px; font-weight:bold;"><div style="display:inline-block;">
					<b style="color:black;">Billboard</b><br/>
					View<br/>
					<a href="http://adserver.adportalcloud.com/kmgroup/eb2/">http://adserver.adportalcloud.com/kmgroup/eb2/</a><br/>
					<a href="http://adserver.adportalcloud.com/kmgroup/eb2/">http://adserver.adportalcloud.com/kmgroup/eb2/</a><br/>
					<br/>
					Ad Tag<br/>
					&lt;iframe src="http://adserver.adportalcloud.com/kmgroup/eb2/jobName-12345/HTML5-0001-BB.html?trackurl=_ADCLICK_&ord=_ADTIME_" width="970.0" height="250.0" scrolling="no" frameborder="0"&gt;&lt;/iframe&gt;<br/>
				</div>
				</div>
			</div>
		</td>
	</tr>
</table>